* {
  box-sizing: border-box;
}

/*Body*/

body{
  font-family: Roboto, Arial, sans-serif;
  font-size: inherit;
 
}



/* Flex Item*/

.container-header{
  max-width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: rgb(252, 91, 33);
 
  

}

.container-header img{
  height: 90px;
 
 
}

.container-header .item2{
  height: 2rem;
  margin-right: 10px;
 
}



/*Menu*/



nav {
  position: fixed;
  padding: 1%;
  height: 70%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  line-height: 3rem;
  
  

}

.coluna{
  padding-left: 1%;
  
}  

.item5{
  border-bottom: 0.3em solid black;
  width: 9rem;
}

.linha-vertical {
  border-left: 0.4em solid black;
  height: 41rem;
  position: absolute;
  left: 10%;
  top: 12rem;
}

.menu a:first-child{
  text-decoration: none;
  color: black;
}


/*Vídeos*/

.container-videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 80%;
  
  margin-left: 15%;
 
}

.container-videos li{
  list-style: none;
}


.rodape {
  background-color: rgb(252, 91, 33);
  height: 6rem;
  position: absolute;
  bottom: 0;
  width: 100%;
    
}

p{
  color: white;
  text-align: center;
}

